<div class="modal fade " id="createStore" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create new Store</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="container-fluid">
                
                <!-- Page Heading -->
                <p class="mb-4">This can only edited later by authorised personel. </p>
                

                <!-- DataTales Example -->
                <div class="card shadow mb-4">

                    <div class="card-body">
                        <div class="form mt-4 mb-4">
                            <form action="/super/create-store" method="post" class="form">
                               <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="">Branch Name</label>
                                        <input type="text" name="Branch_Name" class="form-control" >
                                    </div>
                                </div>


                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="">Branch State</label>
                                        <select name="Branch_state" id="store-state" class="form-control" onchange="storeLGAs()">
                                            <option value="">Select State</option>
                                            <% stateData.forEach(state => { %>
                                                <option value="<%= state.state %>"><%= state.state %></option>
                                                <% }); %>
                                        </select>
                                    </div>
                                </div>

                               
                               <div class="col-4">
                                    <div class="form-group">
                                        <label for="">Local Government</label>
                                        <select name="Branch_lga" id="store-lga" class="form-control">
                                            <option value="">Select State to choose</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="">Branch Address</label>
                                        <input type="text" name="Branch_address" class="form-control" >
                                    </div>
                                </div>



                            </div>
                            <div class="mt-4">
                                <input type="submit" class="btn btn-success" style="width: 100%;" value="Submit">
                            </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
      </div>
    </div>
  </div>



  <script>
    function storeLGAs() {
        const stateSelect = document.getElementById("store-state");
        const lgaSelect = document.getElementById("store-lga");
        const selectedState = stateSelect.value;
      
        console.log("Selected State: ", selectedState); // Check the selected state
      
        // Clear the existing options in the LGA select element
        while (lgaSelect.options.length > 0) {
          lgaSelect.remove(0);
        }
      
        if (selectedState) {
          fetch(`/getlgas/${selectedState}`) // Make an AJAX request to the /getlgas route
            .then(response => response.json())
            .then(data => {
              data.forEach(lga => {
                const option = document.createElement("option");
                option.text = lga;
                option.value = lga;
                lgaSelect.add(option);
              });
            })
            .catch(error => {
              console.error('Error fetching LGAs:', error);
            });
        }
      
      }
    
    
</script>