body{

    /* background-image: linear-gradient(40deg, #3a4c61, #31816e) !important; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif !important;
}


.wrapper {
    
    display: flex;
    justify-content: center;
    margin-top: 200px;
    padding: 10px;
    
}


.myform {
    width: 300px;
}
.wrapper input {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    width: 280px;
}


input:active{
    border: none;
}

.wrapper button {
    background-color: #50a169;
    color: #ffff;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    width: 100%;
    
}


.top-nav {
    background-color: #76ecbd;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 40px;
    z-index: 10000;
}

.top-nav,.footer-nav{
    padding-bottom: 8px;
    color: #ffff;
}

.footer-nav {
    background-color: #76ecbd;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 40px;
}

a {
    text-decoration: none;
}


.tile  {
  text-transform: capitalize;

}

.tile:active {
    transform: scale(.98);
    transition: .09s ease-in;
}



.tile .card-text{
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}




  

  .item-image-container {
    height: 120px; 
    overflow: hidden; 
  }
  
  .item-image-container img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .item-image-container img:hover {
    overflow: hidden;
    transform: scale(1.1); /* Scale up the image on hover */
  }
  .item-text{
  padding: 0;
  margin: 0;
  
}
.item-text p{
  padding: 0;
  margin: 0;

}
  .custom-button {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically in the center */
    width: 200px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border: none; /* Remove the default border */
    cursor: pointer; /* Change cursor on hover */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Hide overflow */
    background-color: #f0f0f0; /* Background color */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .custom-button:hover {
    background-color: #e0e0e0; /* Background color on hover */
  }

  .button-image {
    width: 50px; /* Set the width for the image part */
    height: 100%; /* Full height */
    background-image: url('/images/fast-food.png'); /* Path to your background image */
    background-size: cover; /* Ensure the image covers the container */
    background-position: center; /* Center the image */
  }
  
  .button-text {
    flex: 1; /* Take up remaining space */
    text-align: center; /* Center the text */
    color: #333; /* Text color */
    font-size: 16px; /* Font size */
  }



  .item-background-image {
    width: 100%; /* Set the width for the image part */
    height: 100%; /* Full height */
    background-image: url('/images/fast-food.png'); /* Path to your background image */
    background-size: 200px; 
    margin-bottom: 40px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
  }

 

  .no-items {
    width: 100%; /* Set the width for the image part */
    height: 100%; /* Full height */
    background-image: url('/images/no data.jpeg'); /* Path to your background image */
    background-size: 200px; 
    margin-bottom: 40px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
  }

  .my-profile-image {
    max-width: 160px;
    max-height: 170px;
  }


  .cart-item {

    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  } 
  .cart-item img {
    max-width: 40px;
    max-height: 40px;
    margin-right: 20px;
  }
  .cart-item-details {
    flex: 1;
  }
  .item-text {
    font-size: 13px;
  }
  .cart-item-actions {
    display: flex;
    align-items: center;
  }
  .cart-item-actions button {
    margin: 0 5px;
  }

  #fullScreenLoader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }


 .help-box {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  margin-top: 30px;
  padding: 30px 15px;
}

 .help-box .help-icon {
  font-size: 48px;
}

 .help-box h4,
 .help-box a {
  color: var(--contrast-color);
}


.banner-section{
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}
.ads-banner {
  /* margin-right: 1px; */
}
.ads-banner img{
  height: 100%;
  width: 400px;
}