<header id="header" class="header d-flex align-items-center sticky-top">
	<div class="container-fluid container-xl position-relative d-flex align-items-center">
  
	  <a href="/" class="logo d-flex align-items-center me-auto">
		<img src="assets/img/logo.png" alt="">
		<h1 class="sitename"><i class="fas fa-shopping-cart "></i> Strober</h1>
	  </a>
 
	</div>
  </header>