<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
      <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-shop"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Store keeper <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
      <a class="nav-link" href="/admin">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      Interface
  </div>

  <!-- Nav Item - Pages Collapse Menu -->


  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-table"></i>
          <span>View Records</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
          data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Custom Utilities:</h6>
              <a class="collapse-item" href="/admin/all-stores">Stores</a>
              <a class="collapse-item" href="/admin/all-discounts">Discounts</a>
              <a class="collapse-item" href="/admin/all-employees">Employees</a>
              <a class="collapse-item" href="/admin/all-supplier">Supplier</a>
              <a class="collapse-item" href="/admin/all-categories"> Categories</a>
              <a class="collapse-item" href="/admin/all-customers">Customers</a>
              <a class="collapse-item" href="/admin/all-inventory">Inventory</a>
              <a class="collapse-item" href="/admin/all-sales">Sales</a>
              <a class="collapse-item" href="/admin/all-damaged">Damaged Records</a>
              <a class="collapse-item" href="/admin/all-products">Products</a>
              <a class="collapse-item" href="/admin/all-transactions">All Transactions</a>
          </div>
      </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">



  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
          aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-pen"></i>
          <span>Create Item</span>
      </a>
      <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">

              <a class="collapse-item" href="/admin/create-sales">Sell </a>
              <a class="collapse-item" href="/admin/create-store">Create new Store</a>
              <a class="collapse-item" href="/admin/create-supplier">Create New Wholesaler</a>
              <a class="collapse-item" href="/admin/create-inventory">Create new inventory</a>
              <a class="collapse-item" href="/admin/create-category">Create new Category</a>
              <a class="collapse-item" href="/admin/create-employee">Create new Employee</a>
              <a class="collapse-item" href="/admin/create-discount">Create new Discount</a>
              <a class="collapse-item" href="/admin/create-customer">Create New Customer</a>
              <a class="collapse-item" href="/admin/create-position">Create new Position</a>
          </div>
      </div>
  </li>

  <li class="nav-item">
      <a class="nav-link collapsed" href="#" 
          aria-expanded="true" aria-controls="collapseTwo" class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-fw fa-cog"></i>
          <span>Log out</span>
      </a>

        
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>