<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/super">
      <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-shop"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Store keeper <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
      <a class="nav-link" href="/super">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
  </li>



  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Pages Collapse Menu -->


  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-table"></i>
          <span>Business Records</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
          data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/super/all-logistic-company">Logistics</a>
              <a class="collapse-item" href="/super/all-logistics-drivers">Logistics Drivers</a>
              <a class="collapse-item" href="/super/all-damaged">Damaged Records</a>
              <a class="collapse-item" href="/super/all-discounts">Discounts</a>
              <a class="collapse-item" href="/super/all-employees">Employees</a>
              <a class="collapse-item" href="/super/upgrade-users">Upgrade list</a>
              <a class="collapse-item" href="/super/all-supplier">Supplier</a>
              <a class="collapse-item" href="/super/all-customers">Customers</a>
              <a class="collapse-item" href="/super/all-positions">Position</a>
              <a class="collapse-item" href="/super/all-transactions">All Transactions</a>
          </div>
      </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <li class="nav-item">
      <a class="nav-link collapsed"  href="/super/all-stores">
        <i class="fas fw fa-home"></i> <span>Stores</span>
      </a>
  </li>
  <li class="nav-item">
      <a class="nav-link collapsed"  href="/super/all-products">
        <i class="fas fw fa-book"></i> <span>Shelf Products</span>
      </a>
  </li>
  <li class="nav-item">
      <a class="nav-link collapsed"  href="/super/all-inventory">
        <i class="fas fw fa-book"></i> <span>Inventory</span>
      </a>
  </li>


  <li class="nav-item">
      <a class="nav-link collapsed"  href="/super/all-categories">
          <i class="fas fa-fw fa-chair"></i> <span>Categories</span>
      </a>
  </li>


  <li class="nav-item">
    <a class="nav-link collapsed" href="/logout" 
        aria-expanded="true" aria-controls="collapseTwo" class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
        <i class="fas fa-fw fa-cog"></i>
        <span>Log out</span>
    </a>
</li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>