

<br>
<br>
<br>
<br>
<br>
	  <!-- Page Content-->
	  <div class="container px-5 my-5">
             
		<div class="row gx-5 justify-content-center">
			<div class="col-lg-4 col-xl-4 col-xxl-4">

				<div class="pb-5"></div>

				
				
				<section>
					<!-- Skillset Card-->
					<div class="card bg-transparent  border-0  mb45">
						
						<%- include ('./partials/messages') %>
						<div class="card-body p-5">
							<div class="row mb-4 mt-3" >
								<div class="justify-content align-items-center">
									<img src="/assets/logo.png" alt="" style="max-width: 100px;">
								</div>
								<!-- <h5 class="text-light align-items-center">Store keeper</h5> -->
							</div>
							<form action="/auth/login" method="post">
								<div class="form-group">
									<input type="email" class="form-control mt-2 bg-transparent text-light" placeholder="Enter Email" name="email">
								</div>
								<div class="form-group">
									<input type="password" class="form-control mt-2 bg-transparent text-light" placeholder="Enter password" name="password">
								</div>
			
								<button class="btn btn-success mt-2 " style="width: 100%;" type="submit">Log in</button>
							</form>
						</div>
					</div>
				</section>

			</div>
		</div>
	</div>
