

<br>
<br>
<br>
<br>
<br>
	  <!-- Page Content-->
	  <div class="container px-5 my-5">
             
		<div class="row justify-content-center">
			<div class="col-lg-6 col-xl-6 col-xxl-4">

				<div class="pb-5"></div>


				<%- include ('./partials/messages') %>

					<div class=" border-1  mb45">
						
						<div class="card-body p-4">
							<div class="row mb-4 mt-3" >
								<div class=" row justify-content-center">
									<div class="col-lg-6 col-xl-6 col-xxl-4" style="margin-left: 180px;">
										<img src="/assets/logo.png" alt="" style="max-width: 100px;">
									</div>
								</div>
								<!-- <h5 class="text-light align-items-center">Store keeper</h5> -->
							</div>
							<form action="/auth/register" method="post">
								<div class="row">
									<div class="form-group col-6">
										<input type="text" class="form-control mt-2 bg-transparent text-dark" placeholder="Enter First name" name="first_name">
									</div>
									<div class="form-group col-6">
										<input type="text" class="form-control mt-2 bg-transparent text-dark" placeholder="Enter Last name" name="last_name">
									</div>
									<div class="form-group col-6">
										<input type="email" class="form-control mt-2 bg-transparent text-dark" placeholder="Enter Email" name="email">
									</div>
									<div class="form-group col-6">
										<input type="phone" class="form-control mt-2 bg-transparent text-dark" placeholder="Enter phone " name="phone">
									</div>
									<div class="form-group col-6">
										<input type="password" class="form-control mt-2 bg-transparent text-dark" placeholder="Enter password" name="password">
									</div>
									<div class="form-group col-6">
										<input type="password" class="form-control mt-2 bg-transparent text-dark" placeholder="Enter same password" name="confirm_password">
									</div>
								</div>
			
								<button class="btn btn-success mt-2 " style="width: 100%;" type="submit">Register</button>
							</form>
							<p class="mt-2">Already have an acount? <a href="/">Login</a></p>
						</div>

					</div>


			</div>
		</div>
	</div>
