<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand text-success" href="/user"><i class="fas fa-shopping-cart"></i> Strober</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
  
      <ul class="navbar-nav">
  
      </ul>
  
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/user/orders">Orders</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Adverts</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">logout</a>
        </li>
        <li class="nav-item ml-4">
          <a href="/user/fetchCart" class="btn btn-success position-relative">
            <i class="fas fa-shopping-cart "></i>
            <span id="cart-badge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"></span>
          </a>
        </li>
      </ul>
    </div>
  </nav> 


  <br>
<br>
<br>